@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100vh;
  width: 100%;
}

.pattern{
  background-image: url('/pattern.svg');
  background-repeat: repeat;
  background-size: contain;
  background-position: center center;
}
.satisfy {
  font-family: 'Satisfy', cursive;
}